<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107890862409-p7132rrtnvh119qh3f1s2s702h48nbv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107890862409-p7132rrtnvh119qh3f1s2s702h48nbv6</string>
	<key>API_KEY</key>
	<string>AIzaSyBxmtSkZgYjYFi56FoK1ab0tZF_HBO40gA</string>
	<key>GCM_SENDER_ID</key>
	<string>107890862409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sil.starfish</string>
	<key>PROJECT_ID</key>
	<string>starfish-3s</string>
	<key>STORAGE_BUCKET</key>
	<string>starfish-3s.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107890862409:ios:d57e2b83078e7eaf0f9298</string>
	<key>DATABASE_URL</key>
	<string>https://starfish-3s-default-rtdb.firebaseio.com</string>
</dict>
</plist>